//eg1
#eg1.table {
    display: table;
    padding:15px;
    border:1px solid red;
    width:75%;
    margin:0 auto;
    .th {
        display: none;
    }
    .tr {
        border-bottom:1px solid red;
        display: flex;
        flex-direction: column;
    }
    .td {
        display: table-cell;
    }
    .th span, .td span {
        font-weight: bold;;
    }
}

@media  screen and (min-width:768px) {
#eg1.table {
        .th {
            display: table-cell;
        }
        .tr {
            display: table-row;
        }
        .td span {
            display: none;
        }   
    }
}