<!-- example  -->
<div class="container p-2">
    <div id="eg2" class="container">

        <!-- headers -->
        <div class="row py-1">
            <div class="col">
                <b>Year</b>
            </div>
            <div class="col">
                <b>Make</b>
            </div>
            <div class="col">
                <b>Model</b>
            </div>
            <div class="col">
                <b>Action</b>
            </div>
        </div>

        <!-- body -->
        <div class="row py-1" *ngFor="let car of cars">
            <!-- action row-->
            <div class="col-md-3 order-md-12 text-right text-md-left">
                <button class="btn btn-primary mx-1">👍</button>
                <button class="btn btn-primary mx-1">👎</button>
            </div>

            <!-- data row-->
            <div class="col-md-3"><b class="d-md-none">Year </b> {{ car.year }}</div>
            <div class="col-md-3"><b class="d-md-none">Make </b> {{car.make}}</div>
            <div class="col-md-3"><b class="d-md-none">Model </b> {{ car.model}}</div>
        </div>

    </div>
</div>